.hover{
  padding:15px;
  background:green;
  color:white;
  one;
}
.hover:hover{
  background:darkgreen;
  transform:scale(1.1);
}
.option{
  display:none;
  background:gray;
  padding:4px;
}
.dropdown:hover .option{
  display:block;
}
.option a {
  display:block;
  padding:5px;
  text-decoration:none;
  color:black;
}
.dropdown {
  position:relative;
  dispaly:inline-block;
}
